*{
    margin: 0;
    padding: 0;
}
nav{
    background-color: purple;
    height: 25px;
   
}
nav ul{
  
    display: flex;
    justify-content: space-evenly;
 
}
nav ul li{
    list-style: none;
    color: aqua;
   
}