*{
    margin:0px;
    padding: 0px;
}
#BOX1{
    background-color: blue;
    border:2px solid black;
    height: 200px;
    width: 200px;
    padding-left:100px;
    padding-top: 100px;
    margin-bottom: 5px;
    box-sizing: border-box;
}
#BOX2{
    background-color: red;
}
/* margin collaps read  */