h2{
    background-color: red;
}
.Routine{
    background-color: blue;
    color:red;
}
.element{
    color:black;
    background-color: cadetblue;
}
#first{
    background-color: yellow;

}
a:hover{
    background-color: green;
}
a:visited{
    color:red;
}